
#container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0px;
  }


body {
width:100%;
margin: 0 auto;
background-color: #F9E0FF;
font-size: 16px;
}

h1 {
color: #DAB1FF;
font-family: 'Shrikhand', cursive;
font-size: 100px;
margin-bottom:-10px;
padding: 20px 20px;
display: flex;
justify-content: center;
}


h2 {
color: #EB9DAC;
font-family: 'Righteous', cursive;
font-size: 20px;
text-align: center;
}

h3 {
color: #F0997F;
font-family: 'Arvo', serif;
font-size: 25px;
}


p {
font-family:'Roboto Condensed', sans-serif;
line-height: 90%;
text-align: center;
font-size: 25px;
}

.header {
  background-color: #F9E0FF;
}

img {
  border: none;
  width: 300px;
  margin-bottom: 20px;
}


#nav {
  padding: 0;
  margin:0;
  list-style-type: none;
  display: flex;
  flex-direction:column;
}

#nav li {
  border-bottom: 1px solid #F0CCCC;
  list-style-type: none;
  text-align: center;
  font-size: 15px;
}

#nav a:link, #nav a:visited {
display: block;
color: black;
background-color: #F0CCCC;
font-family: 'Roboto Condensed', sans-serif;
text-align:center;
text-decoration: none;
padding:10px;
width:100%;
}

#nav a:hover, #nav a:active {
background-color: #81FF38;
}


.joke {
  font-family: 'Manjari', sans-serif;
  font-size: 10px;
  line-height: 130%;
  color: #012626;
  margin-top: 10px;
}


.grid {
  padding: 20px;
  margin: 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
}

.grid li {
  list-style-type: none;
  background-color: #DAA2CF;
  border-radius: 45px;
  text-align: center;
  color: black;
}

.grid img {
  width: 200px;
}

.works {
  text-align: center;
}

.works > a:link, .examples > a:visited {
  text-decoration: none;
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
  color: #DBA1CF;
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.works > a:hover {
  text-decoration: none;
  color: #DBA1FF;
}

.grid .pics {
  padding: 10px;

}




#old a:link, a:visited {
color: #F0696E;
text-decoration: none;
}

#old a:hover, a:active {
color: #F0696E;
text-decoration: underline;
}



.footer {
  font-size: 1.5em;
  border-top: 1px solid black;
  text-align: center;
}






@media screen and (min-width: 599px) {

    h1 {
      justify-content: center;
      font-size: 3.5em;
    }

    h2 {
      font-size: 2em;
    }

    #nav {
      flex-flow: row wrap;
      font-size: 1.5em;
      justify-content: space-around;
    }

    #nav li {
      text-align: center;
    }

    img {
      width: 400px;
    }

    .joke {
      font-size: 2em;
    }

    .grid {
      padding: 20px;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      justify-content: center;
    }

  #oldindex {
    margin-top: 200px;
  }

}














@media screen and (min-width: 768px) {


    h1 {
      justify-content: center;
      font-size: 3.5em;
    }

    h2 {
      font-size: 2.5em;
    }

    #nav {
      flex-flow: row wrap;
      font-size: 1.8em;
      justify-content: space-around;
    }

    #nav li {
      text-align: center;
    }

    .grid {
      padding: 20px;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      justify-content: center;
    }



  }
